#block{
	margin: 60px auto;
	font-family: actay condensed;
	line-height: 1.5;
}

#content{
	margin: auto;
	border: 20px solid plum;
	padding: 40px 0;
	width: 800px;
}

#author{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 60px;
}

#poem{
	text-align: center;
	font-style: italic;
	font-weight: 500;
	font-size: 18px;
}